<h1>Liste des livres</h1>
<a href="{{ path('add_book') }}" class="btn btn-primary">Ajouter un livre</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date de publication</th>
        <th>Publié ?</th>
         <th>Actions</th>
    </tr>

    {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author.username }}</td>
            <td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d') : '' }}</td>
            <td>{{ book.enabled ? 'Oui' : 'Non' }}</td>
            <td>
             <a href="{{ path('edit_book', {'id': book.id}) }}">Mettre à jour</a>
                <a href="{{ path('delete_book', {'id': book.id}) }}" 
                   onclick="return confirm('Voulez-vous vraiment supprimer ce livre ?');">
                   Supprimer
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun livre trouvé</td>
        </tr>
    {% endfor %}
</table>
